# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store
dist/
build/
coverage/
.idea/
.vscode/
*.log
*.tmp
*.swp

# lambda
*.zip

# Terraform
*.tfstate
*.tfstate.*
.crash
.terraform/
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
.terraform.d/